@import "tailwindcss";

:root {
  --background: #F8F6F2;
  --foreground: var(--text-color, #171717);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary-color, #e11d48);
  --color-secondary: var(--secondary-color, #4f46e5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: var(--text-color, #ededed);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}